Aspect Ratio
<main>
    <section>
        <h2>AviUtl縦横比計算機</h2>
        <p>
            AviUtl縦横比計算機は、AviUtlの縦横比を計算するためのツールです。
        </p>
    </section>
    <section>
        <h2>幅から縦横比</h2>
        <p>
            以下のフォームに、縦横幅を入力してください。
            <br>
            AviUtlは、小数点1桁までの縦横比をサポートしています。
            <br>
            そのため、AviUtl上では、多少の誤差が生じる可能性があります。
        </p>
        <form>
            <label for="width">横幅</label>
            <input type="number" id="width" name="width" placeholder="16" required>
            <label for="height">縦幅</label>
            <input type="number" id="height" name="height" placeholder="9" required>
            <button type="button" id="calc">計算</button>
        </form>
        <div id="result" style="width: 100%; text-align: center; font-size: 1.5em; font-weight: 600; padding: 1em 0;">
            -43.75
        </div>
        <script>
            const calc = document.getElementById("calc");
            const result = document.getElementById("result");
            calc.addEventListener("click", function () {
                const width = Number(document.getElementById("width").value);
                const height = Number(document.getElementById("height").value);
                const ratio = (1 - (1 / Math.max(width, height)) * Math.min(width, height)) * -100;
                result.innerHTML = ratio;
            });
        </script>
    </section>
    <section>
        <h2>縦横比から幅</h2>
        <p>
            以下のフォームに、縦横比とサイズを入力してください。
            <br>
            AviUtlは、小数点1桁までの縦横比をサポートしています。
            <br>
            そのため、AviUtl上の値を入力すると、多少の誤差が生じる可能性があります。
        </p>
        <form>
            <label for="ratio">縦横比</label>
            <input type="number" id="ratio" name="ratio" placeholder="-43.75" required>
            <label for="size">サイズ</label>
            <input type="number" id="size" name="size" placeholder="1920" required>
            <button type="button" id="calc2">計算</button>
        </form>
        <div id="result2" style="width: 100%; text-align: center; font-size: 1.5em; font-weight: 600; padding: 1em 0;">
            1920x1080
        </div>
        <script>
            const calc2 = document.getElementById("calc2");
            const result2 = document.getElementById("result2");
            calc2.addEventListener("click", function () {
                const ratio = Number(document.getElementById("ratio").value);
                const size = Number(document.getElementById("size").value);
                const length = size - size * Math.abs(ratio) / 100;
                if (ratio > 0) {
                    result2.innerHTML = `${length}x${size}`;
                } else {
                    result2.innerHTML = `${size}x${length}`;
                }
            });
        </script>
    </section>
</main>