{"title": "Block Checker", "ogp_image": "https://renorari.net/images/block-checker.png"}
<main>
    <section>
        <h2>Block Checker</h2>
        <p>
            ブロックチェッカーは、Kana/UGC/TakasumiBOTのブロックを確認するためのツールです。
            <br>
            このツールでブロックされているかどうかを確認できます。
        </p>
    </section>
    <section>
        <h2>ブロックチェッカー</h2>
        <p>
            以下のフォームに、ユーザーIDまたはサーバーIDを入力してください。
            <br>
            IDの取得方法は、下の記事をご参考ください。
            <br>
            <a href="/blog/%E3%83%87%E3%82%B9%E3%82%AF%E3%83%88%E3%83%83%E3%83%97%E7%89%88discord%E3%81%AEID%E3%82%92%E3%82%B3%E3%83%94%E3%83%BC%E3%81%99%E3%82%8B%E6%96%B9%E6%B3%95/"
                target="_blank">デスクトップ版DiscordでIDをコピーする方法</a>
            <br>
            <a href="/blog/%E3%83%A2%E3%83%90%E3%82%A4%E3%83%AB%E7%89%88discord%E3%81%AEID%E3%82%92%E3%82%B3%E3%83%94%E3%83%BC%E3%81%99%E3%82%8B%E6%96%B9%E6%B3%95/"
                target="_blank">モバイル版DiscordでIDをコピーする方法</a>
        <form onsubmit="checkBlock(); return false;">
            <input type="text" id="user-id" name="user-id" placeholder="000000000000000000" required
                pattern="\d{17,20}">
            <input type="submit" id="check" value="Check" class="button">
        </form>
        </p>
        <div id="result">
            <h3>結果</h3>
            <style>
                .card {
                    padding: 1rem;
                }

                .card>h4::before {
                    content: "■";
                    color: var(--secondary);
                    margin: auto 0.25em;
                }

                .card.unblocked>h4::before {
                    content: "■";
                    color: var(--primary);
                    margin: auto 0.25em;
                }

                .card.blocked>h4::before {
                    content: "■";
                    color: var(--danger);
                    margin: auto 0.25em;
                }
            </style>
            <div class="panel">
                <div class="card" id="result-kana">
                    <h4>Kana / VoiceJP</h4>
                    <p>未確認</p>
                    <div>
                        ブロック解除の可能性: <span id="result-kana-removable">未確認</span>
                    </div>
                </div>
                <div class="card" id="result-ugc">
                    <h4>UGC</h4>
                    <p>未確認</p>
                </div>
                <div class="card" id="result-takasumibot">
                    <h4>TakasumiBOT</h4>
                    <p>未確認</p>
                </div>
            </div>
        </div>
        <script>
            const button = document.getElementById("check");
            const input = document.getElementById("user-id");
            const result = document.createElement("p");
            function updateBlockStatus(selector, isBlocked) {
                const element = document.querySelector(selector);
                element.classList.toggle("blocked", isBlocked);
                element.classList.toggle("unblocked", !isBlocked);
                element.querySelector("p").textContent = isBlocked ? "ブロックされています" : "ブロックされていません";
            }
            function checkBlock() {
                button.disabled = true;
                button.value = "Checking...";
                const userId = input.value;
                fetch(`/api/block-checker/${userId}`)
                    .then(response => response.json())
                    .then(data => {
                        button.disabled = false;
                        button.value = "Check";
                        updateBlockStatus("#result-kana", data.kana);
                        updateBlockStatus("#result-ugc", data.ugc);
                        updateBlockStatus("#result-takasumibot", data.takasumibot);
                        if (data.kana) {
                            document.getElementById("result-kana-removable").textContent = data.kana_is_removable ? "可能" : "不可能な場合あり";
                        }
                    });
            }

            document.addEventListener("DOMContentLoaded", () => {
                const urlParams = new URLSearchParams(window.location.search);
                const userId = urlParams.get("id");
                if (userId) {
                    input.value = userId;
                    checkBlock();
                }
            });
        </script>
    </section>
    <section>
        <h2>ご注意</h2>
        <p>
            このツールは、Kana/UGC/TakasumiBOTのブロックを確認するためのツールですが、情報が正確であることを保証するものではありません。
            <br>
            また、このツールはTakasumiBOTとは関係がありませんので、TakasumiBOTに関するお問い合わせはご遠慮ください。
            <br>
            なお、KanaとUGCのブロック解除については、<a
                href="https://docs.google.com/forms/d/e/1FAIpQLSfRNGNRJ7jvYyIZP7ZGgZESlikJQM5HI4PXGe5Dv5icOMWPww/viewform?usp=sf_link">Kana/UGC
                ブロックリスト異議申し立て</a>にて解除を申請することができます。
        </p>
    </section>
</main>
