{"title": "【高専】必須点数計算機", "ogp_image": "https://renorari.net/images/grade.png"}
<main>
    <section>
        <h2>【高専】必須点数計算機</h2>
        <p>
            【高専】必須点数計算機は、次の定期試験で必要な点数を計算するためのツールです。
            <br>
            過去の試験の点数と、通知表の点数を入力することで、次回のテストで必要な点数を計算することができます。
        </p>
    </section>
    <section>
        <h2>過去の試験の点数</h2>
        <p>
            以下のフォームに、過去の試験の点数を入力してください。
        </p>
        <form>
            <div class="form-group">
                <label for="last">通知表の点数</label>
                <input type="number" id="last" class="form-control" required>
            </div>
            <div class="form-group">
                <label>テストの点数</label>
                <div class="test-inputs">
                    <input type="number" id="exam1" class="form-control" placeholder="1回目" min="0" max="100" required>
                    <input type="number" id="exam2" class="form-control" placeholder="2回目" min="0" max="100">
                    <input type="number" id="exam3" class="form-control" placeholder="3回目" min="0" max="100">
                </div>
            </div>
            <div class="form-group">
                <label for="passing">科目の合格点</label>
                <div style="display: flex; gap: 1rem;">
                    <output for="passing" id="passingOutput">50</output>
                    <input type="range" id="passing" class="form-control" min="1" max="100" step="1" value="50" required
                        style="flex: 1;">
                    <script>
                        document.getElementById('passing').addEventListener('input', function () {
                            document.getElementById('passingOutput').value = this.value;
                        });
                    </script>
                </div>
            </div>
            <div class="form-group">
                <label for="rate">テストの評価割合</label>
                <div style="display: flex; gap: 1rem;">
                    <output for="rate" id="rateOutput">0.8</output>
                    <input type="range" id="rate" class="form-control" min="0.01" max="1" step="0.01" value="0.8"
                        required style="flex: 1;">
                    <script>
                        document.getElementById('rate').addEventListener('input', function () {
                            document.getElementById('rateOutput').value = this.value;
                        });
                    </script>
                </div>
            </div>
            <button type="submit" class="btn btn-primary">計算する</button>
        </form>
    </section>
    <section id="result">
        <h3>結果</h3>
        <p id="alerts"></p>
        <table>
            <tr>
                <th>テスト以外の点</th>
                <td id="some"></td>
            </tr>
            <tr>
                <th>テストの平均点</th>
                <td id="average"></td>
            </tr>
            <tr>
                <th>次のテストで必要な点</th>
                <td id="required"></td>
            </tr>
        </table>
    </section>
    <script>
        document.querySelector('form').addEventListener('submit', function (e) {
            e.preventDefault();
            const last = Number(document.getElementById('last').value);
            const rate = Number(document.getElementById('rate').value);
            const passing = Number(document.getElementById('passing').value);
            const examResult = [
                Number(document.getElementById('exam1').value || -1),
                Number(document.getElementById('exam2').value || -1),
                Number(document.getElementById('exam3').value || -1)
            ].filter(v => v >= 0);

            if (examResult.length > 3) {
                alert('テストの数は3つまでです');
                return;
            } else if (examResult.length === 0) {
                alert('テストの点数を入力してください');
                return;
            } else if (rate === 0) {
                alert('テストの評価割合は0より大きい値を入力してください');
                return;
            }

            const ave = (...args) => args.reduce((acc, cur) => acc + cur) / args.length;
            const displayNumber = (num) => Math.round(num * 10) / 10;

            const some = last - (ave(...examResult) * rate);
            const d = 4 * (passing - some) / rate - examResult.reduce((acc, cur) => acc + cur);

            const alerts = [];
            if (rate === 1 && some > 0 || some > (1 - rate) * 100 || some < 0) {
                alerts.push('テストの点数と通知表の点数が矛盾しています');
            }

            document.getElementById('alerts').innerHTML = alerts.join('<br>');
            document.getElementById('some').textContent = displayNumber(some);
            document.getElementById('average').textContent = displayNumber(ave(...examResult));
            document.getElementById('required').textContent = d < 0 ? (some == 0 ? "(単位確定)" : "(ほぼ単位確定)") : displayNumber(d);
        });
    </script>
</main>