{"title": "Tools", "ogp_image": "https://renorari.net/images/ogp.png"}
<main>
    <section>
        <h2>れのらりのツール集</h2>
        <p>
            このページでは、れのらりが作成したウェブツールを紹介しています。
        </p>
    </section>
    <section>
        <h2>ウェブツール集</h2>
        <p>
            以下のウェブツールを提供しています。
        </p>
        <div class="panel">
            <a class="card" href="/tools/generator.html">
                <div class="card-image">
                    <img src="/images/generator.png" alt="Renorari Generator">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        Renorari Generator
                    </div>
                    <div class="card-description">
                        ランダムな文字列を生成するウェブツールです。
                        <br>
                        このウェブツールは、れのらりが名前を決める際に使用したプログラムを、一般公開したものです。
                    </div>
                </div>
            </a>
            <a class="card" href="/tools/beep.html">
                <div class="card-image">
                    <img src="/images/beep.png" alt="!Beep">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        !Beep
                    </div>
                    <div class="card-description">
                        放送禁止音を鳴らすウェブツールです。
                        <br>
                        このウェブツールは、れのらりが腕時計用に作成した、放送禁止音を鳴らすプログラムを、Web移植したものです。
                    </div>
                </div>
            </a>
            <a class="card" href="/tools/qr.html">
                <div class="card-image">
                    <img src="/images/qr-maker.png" alt="QR Maker">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        QR Code Maker
                    </div>
                    <div class="card-description">
                        QRコードを生成するウェブツールです。
                        <br>
                        このウェブツールでは、QRコードを素早く作成することができます。
                    </div>
                </div>
            </a>
            <a class="card" href="/tools/aspect.html">
                <div class="card-image">
                    <img src="/images/aspect.png" alt="AviUtl Aspect Ratio">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        AviUtl縦横比計算機
                    </div>
                    <div class="card-description">
                        AviUtlの縦横比用の計算機です。
                        <br>
                        このウェブツールでは、AviUtlの縦横比を簡単に計算することができます。
                    </div>
                </div>
            </a>
            <a class="card" href="/tools/thumbnail-maker.html">
                <div class="card-image">
                    <img src="/images/thumbnail-maker.png" alt="Thumbnail Maker">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        サムネイルメーカー
                    </div>
                    <div class="card-description">
                        サムネイルを生成するウェブツールです。
                        <br>
                        このウェブツールでは、ブログ用のサムネイルを簡単に作成することができます。
                    </div>
                </div>
            </a>
            <a class="card" href="/tools/discord-channel.html">
                <div class="card-image">
                    <img src="/images/discord-channel.png" alt="Discord Channel Namer">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        Discordチャンネルネーマー
                    </div>
                    <div class="card-description">
                        大文字などの特殊文字を使用するためのツールです。
                        <br>
                        このツールでは、大文字などの特殊文字を使用したチャンネル名を生成することができます。
                    </div>
                </div>
            </a>
            <a class="card" href="/tools/block-checker.html">
                <div class="card-image">
                    <img src="/images/block-checker.png" alt="Block Checker">
                </div>
                <div class="card-content">
                    <div class="card-title new">
                        Block Checker
                    </div>
                    <div class="card-description">
                        ブロックチェッカーは、Kana/UGC/TakasumiBOTのブロックを確認するためのツールです。
                        <br>
                        このツールでブロックされているかどうかを確認できます。
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section>
        <h2>使い方はブログへ</h2>
        <p>
            これらのウェブツールの使い方は、れのらりブログにて紹介しています。
        </p>
        <div class="panel">
            <a href="/blog/renorari-generatorの使い方/" class="card">
                <div class="card-image"><img
                        src="/blog/renorari-generatorの使い方/images/renorari.net_tools_generator.htmlNest-Hub-Max-1024x640.png"
                        alt="ogp image"></div>
                <div class="card-content">
                    <div class="card-title">Renorari Generatorの使い方</div>
                    <div class="card-description">
                        RenorariGeneratorとは?れのらりジェネレーターとは、れのらりが名前を決める際に使用したプログラムを、一般公開したものです。「れのらり」などのランダムな文字列を生成することができます。このウェブアプリは、renorari.netができた2021年にできた、最古のページです。とっても貴重ですよね!使い方RenorariGeneratorを開くhttps://renorari.net/t...
                    </div>
                </div>
            </a>
            <a href="/blog/beepの使い方/" class="card">
                <div class="card-image"><img src="/blog/beepの使い方/images/renorari-net_tools_beep.png" alt="ogp image">
                </div>
                <div class="card-content">
                    <div class="card-title">QR Code Makerの使い方</div>
                    <div class="card-description">
                        QRCodeMakerとはれのらりQRコードメーカーは、QRコードを素早く簡単に作成できるウェブアプリです。クリップボードから自動でQRコードを生成し、ダウンロードすることができます。使い方1.QRコードメーカーのページを開くhttps://renorari.net/tools/qr.htmlを開きます。そうすると、このようになります。2.テキストボックスにQRコードにしたい文字列を入力するテキス...
                    </div>
                </div>
            </a>
        </div>
    </section>
</main>