QR Maker
<main>
    <section>
        <h2>QR Code Maker</h2>
        <p>
            このページでは、QRコードを生成することができます。
            <br>
            生成したQRコードは、PNG形式でダウンロードすることができます。
        </p>
    </section>
    <section>
        <h2>生成</h2>
        <div id="result" style="width: 100%; text-align: center;">
            <img id="qr" src="/images/qr.svg" alt="QR Code"
                style="max-width: 50vw; max-height: 50vh; display: inline-block; margin: 2em; border-radius: 1em;">
        </div>
        <button id="gen" onclick="generate()">生成</button>
        <br>
        <button id="download" onclick="download()">ダウンロード</button>
        <br>
        <label for="text">テキスト</label>
        <input type="text" id="text" value="https://renorari.net/">
        <br>
        <label for="size">サイズ</label>
        <select id="size">
            <option value="100">100x100</option>
            <option value="200">200x200</option>
            <option value="300" selected>300x300</option>
            <option value="400">400x400</option>
            <option value="500">500x500</option>
        </select>
        <br>
        <label for="format">フォーマット</label>
        <select id="format">
            <option value="png" selected>PNG</option>
            <option value="svg">SVG</option>
        </select>
        <br>
        <label for="color">色</label>
        <input type="color" id="color" value="#323232">
        <br>
        <label for="bgcolor">背景色</label>
        <input type="color" id="bgcolor" value="#ffffff">
        <br>
        <label for="ecc">誤り訂正レベル</label>
        <select id="ecc">
            <option value="L">L</option>
            <option value="M">M</option>
            <option value="Q">Q</option>
            <option value="H" selected>H</option>
        </select>
        <br>
        <label for="margin">マージン</label>
        <input type="number" id="margin" value="20" max="50">
        <script>
            function generate() {
                const text = document.getElementById("text").value;
                const size = document.getElementById("size").value;
                const format = document.getElementById("format").value;
                const color = document.getElementById("color").value.replace("#", "");
                const bgcolor = document.getElementById("bgcolor").value.replace("#", "");
                const ecc = document.getElementById("ecc").value;
                const margin = document.getElementById("margin").value;
                const qr = document.getElementById("qr");
                qr.src = "https://api.qrserver.com/v1/create-qr-code/?size=" + size + "x" + size + "&data=" + text + "&format=" + format + "&color=" + color + "&bgcolor=" + bgcolor + "&ecc=" + ecc + "&margin=" + margin;
            };

            function download() {
                const text = document.getElementById("text").value;
                const size = document.getElementById("size").value;
                const format = document.getElementById("format").value;
                const color = document.getElementById("color").value.replace("#", "");
                const bgcolor = document.getElementById("bgcolor").value.replace("#", "");
                const ecc = document.getElementById("ecc").value;
                const margin = document.getElementById("margin").value;
                const qr = document.getElementById("qr");
                qr.src = "https://api.qrserver.com/v1/create-qr-code/?size=" + size + "x" + size + "&data=" + text + "&format=" + format + "&color=" + color + "&bgcolor=" + bgcolor + "&ecc=" + ecc + "&margin=" + margin;
                const a = document.createElement("a");
                a.href = qr.src;
                a.target = "_blank";
                a.download = "qr." + format;
                a.click();
            };

            document.addEventListener("DOMContentLoaded", async () => {
                const clipboard = await navigator.clipboard.readText();
                const text = document.getElementById("text");
                if (clipboard != "") {
                    text.value = clipboard;
                    generate();
                }
            });
        </script>
</main>