About
<main>
    <h2>れのらりって誰? 発音は?</h2>
    <p>
        みなさんこんにちは!
        <br>
        れのらりです。
        <br>
        <span id="renorari-nhk">れ・のらり</span>です。
        <span class="additional">(下がり目式/NHKアクセント新辞典 2016年)</span>
        <br>
        れ+のらり'です。
        <span class="additional">(AquesTalk)</span>
        <br>
        <span id="renorari-voicevox-1">れ</span>/<span id="renorari-voicevox-2">のらり</span>です。
        <span class="additional">(VoiceVox)</span>
        <style>
            #renorari-nhk::after {
                content: "　";
                border-top: 0.1em solid var(--primary);
                position: relative;
                top: 0.25em;
            }

            #renorari-voicevox-1 {
                border-bottom: 0.1em solid var(--text);
            }

            #renorari-voicevox-2 {
                border-top: 0.1em solid var(--text);
            }
        </style>
    </p>
    <p>
        私は、日本の高等教育機関の学生です。
        <br>
        ここまでの文章を読んでいただければ、お分かりいただけるかと思いますが、私は音声言語処理に興味があります。
        <br>
        そのため、私は、音声合成やチャットボットなどのソフトウェアを作っています。
        <br>
        チャットボットとその関連のサービスは、<a href="//kana.renorari.net/">Kana</a>という名前で公開しています。
        <br>
        一部のプロジェクトは、<a href="https://github.com/renorari">GitHub</a>にてソースコードを公開しています。
        <br>
        ぜひ、ご覧ください。
    </p>
    <p>
        このサイトでは、私が作ったソフトウェアやサービスについて紹介しています。
        <br>
        更新頻度は、あまり高くないかもしれませんが、気長にお待ちください。
        <br>
        私は、<a href="https://x.com/renorari">X</a>や<a
            href="https://discord.gg/WbSuHSjx2m">Discord</a>などのSNSにて、最新情報を発信しています。
        <br>
        また、<a href="https://www.youtube.com/@m0zbek">YouTube</a>にて、他のメンバーと一緒にゲームやボカロなどの様々な動画を投稿しています。
        <br>
        ぜひ、ご確認ください。
    </p>
</main>