{"title": "Contact", "ogp_image": "https://renorari.net/images/ogp.png"}
<main>
    <h2>お問い合わせ</h2>
    <p>
        お問い合わせは、以下の手段で受け付けています。
        <br>
        <table>
            <tr>
                <th>メール</th>
                <td><a href="mailto:renorari@renorari.net">renorari@renorari.net</a></td>
            </tr>
            <tr>
                <th>X</th>
                <td><a href="https://x.com/renorari">@renorari</a></td>
            </tr>
            <tr>
                <th>Discord</th>
                <td><a href="https://discord.gg/WbSuHSjx2m">Juicy Server</a></td>
            </tr>
        </table>
    </p>
</main>