{"title": "Home", "ogp_image": "https://renorari.net/images/ogp.png"}
<style>
    :root {
        --background-image: url("/images/light.png");
    }

    @media (prefers-color-scheme: dark) {
        :root {
            --background-image: url("/images/dark.png");
        }
    }

    #fullscreen-header {
        height: 100vh;
    }

    #fullscreen-header-background {
        position: absolute;
        top: 0;
        left: 0;
        width: 100%;
        height: 100vh;
        background-image: var(--background-image);
        background-size: cover;
        background-position: center;
        z-index: -1;
        animation: hue 10s linear infinite;
    }

    @keyframes hue {
        0% {
            filter: hue-rotate(0deg);
        }

        100% {
            filter: hue-rotate(360deg);
        }
    }

    #fullscreen-header-content {
        position: absolute;
        top: 0;
        left: 0;
        clip-path: polygon(0 0, 50% 0, 75% 100%, 0 100%);
        width: 100%;
        height: 100vh;
        background: var(--transparent-background);
        font-size: 1.25em;
    }

    #fullscreen-header-content-clipped {
        width: 62.5%;
        height: 100%;
        padding: 2em;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: flex-start;
    }

    @media screen and (max-width: 720px) {
        #fullscreen-header-content {
            clip-path: none;
            background: none;
        }

        #fullscreen-header-content-clipped {
            width: 100%;
            padding: 1em;
            padding-bottom: 25%;
        }

    }

    #fullscreen-header h1 {
        width: 100%;
    }

    #fullscreen-header h1::before {
        content: "";
        display: none;
    }

    #fullscreen-header #scroll-me {
        position: absolute;
        bottom: 1em;
        left: 50%;
        transform: translateX(-50%);
        font-size: 2.5em;
        animation: scroll 1s ease-in-out infinite;
    }

    @keyframes scroll {
        0% {
            transform: translateX(-50%) translateY(0);
        }

        50% {
            transform: translateX(-50%) translateY(0.5em);
            font-size: 2em;
        }

        100% {
            transform: translateX(-50%) translateY(0);
        }
    }
</style>
<div id="fullscreen-header">
    <div id="fullscreen-header-background"></div>
    <div id="fullscreen-header-content">
        <div id="fullscreen-header-content-clipped">
            <h1>Renorari.net</h1>
            <p>
                このページでは、れのらりが運営しているサービスや、ソフトウェアについて紹介しています。
            </p>
        </div>
    </div>
    <span id="scroll-me" class="material-symbols-rounded">
        expand_more
    </span>
</div>
<script>
    const fullscreenHeader = document.getElementById("fullscreen-header");
    const header = document.querySelector("header");
    const main = document.querySelector("main");
    fullscreenHeader.insertAdjacentElement("afterend", header);
</script>
<main>
    <section>
        <h2>ブログ</h2>
        <p>
            最近のブログ記事を紹介します。
        </p>
        <div class="panel">
            {{blog_posts}}
            <button onclick="location.href='/blog/'">
                もっと見る
            </button>
        </div>
    </section>
    <section>
        <h2>サービス</h2>
        <p>
            以下のサービスを提供しています。
        </p>
        <div class="panel">
            <a class="card" href="//kana.renorari.net/">
                <div class="card-image">
                    <img src="/images/kana.png" alt="Kana">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        Kana
                    </div>
                    <div class="card-description">
                        日本語チャットボットサービスです。
                        <br>
                        このサービスは、日本語のチャット以外にも、音声合成などの機能を提供しています。
                    </div>
                </div>
            </a>
            <a class="card" href="//kanationary.renorari.net/">
                <div class="card-image">
                    <img src="/images/kanationary.png" alt="Kanationary">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        Kanationary
                    </div>
                    <div class="card-description">
                        個人が気軽に書ける辞書サイトです。
                        <br>
                        このサービスは、Kanaの辞書として利用されています。
                    </div>
                </div>
            </a>
            <a class="card" href="//ugc.renorari.net/">
                <div class="card-image">
                    <img src="/images/ugc.png" alt="Union Global Chat">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        Union Global Chat
                    </div>
                    <div class="card-description">
                        Discordの大規模グローバルチャット連携サービスです。
                        <br>
                        このサービスは、DiscordBotのグローバルチャットとグローバルチャットを繋ぐ、中継サーバーとして利用されています。
                    </div>
                </div>
            </a>
            <a class="card" href="//forums.unofficial.one/">
                <div class="card-image">
                    <img src="/images/unofficial-forums.png" alt="Unofficial Forums">
                </div>
                <div class="card-content">
                    <div class="card-title new">
                        Unofficial Forums
                    </div>
                    <div class="card-description">
                        非公式コミュニティ向けの掲示板サービスです。
                        <br>
                        このサービスは、掲示板を作成して、コミュニティを作ることができます。
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section>
        <h2>ウェブツール</h2>
        <p>
            以下のウェブツールを提供しています。
        </p>
        <div class="panel">
            <a class="card" href="/tools/generator.html">
                <div class="card-image">
                    <img src="/images/generator.png" alt="Renorari Generator">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        Renorari Generator
                    </div>
                    <div class="card-description">
                        ランダムな文字列を生成するウェブツールです。
                        <br>
                        このウェブツールは、れのらりが名前を決める際に使用したプログラムを、一般公開したものです。
                    </div>
                </div>
            </a>
            <a class="card" href="/tools/beep.html">
                <div class="card-image">
                    <img src="/images/beep.png" alt="!Beep">
                </div>
                <div class="card-content">
                    <div class="card-title new">
                        !Beep
                    </div>
                    <div class="card-description">
                        放送禁止音を鳴らすウェブツールです。
                        <br>
                        このウェブツールは、れのらりが腕時計用に作成した、放送禁止音を鳴らすプログラムを、Web移植したものです。
                    </div>
                </div>
            </a>
            <a class="card" href="/tools/qr.html">
                <div class="card-image">
                    <img src="/images/qr-maker.png" alt="QR Maker">
                </div>
                <div class="card-content">
                    <div class="card-title new">
                        QR Code Maker
                    </div>
                    <div class="card-description">
                        QRコードを生成するウェブツールです。
                        <br>
                        このウェブツールでは、QRコードを素早く作成することができます。
                    </div>
                </div>
            </a>
            <a class="card" href="/tools/aspect.html">
                <div class="card-image">
                    <img src="/images/aspect.png" alt="AviUtl Aspect Ratio">
                </div>
                <div class="card-content">
                    <div class="card-title new">
                        AviUtl縦横比計算機
                    </div>
                    <div class="card-description">
                        AviUtlの縦横比用の計算機です。
                        <br>
                        このウェブツールでは、AviUtlの縦横比を簡単に計算することができます。
                    </div>
                </div>
            </a>
            <a class="card" href="/tools/thumbnail-maker.html">
                <div class="card-image">
                    <img src="/images/thumbnail-maker.png" alt="Thumbnail Maker">
                </div>
                <div class="card-content">
                    <div class="card-title new">
                        サムネイルメーカー
                    </div>
                    <div class="card-description">
                        サムネイルを生成するウェブツールです。
                        <br>
                        このウェブツールでは、ブログ用のサムネイルを簡単に作成することができます。
                    </div>
                </div>
            </a>
            <a class="card" href="/tools/discord-channel.html">
                <div class="card-image">
                    <img src="/images/discord-channel.png" alt="Discord Channel Namer">
                </div>
                <div class="card-content">
                    <div class="card-title new">
                        Discordチャンネルネーマー
                    </div>
                    <div class="card-description">
                        大文字などの特殊文字を使用するためのツールです。
                        <br>
                        このツールでは、大文字などの特殊文字を使用したチャンネル名を生成することができます。
                    </div>
                </div>
            </a>
        </div>
    </section>
    <section>
        <h2>Discord</h2>
        <p>
            私が運営しているDiscordサーバーと、おすすめのDiscordサーバーを紹介します。
        </p>
        <div class="panel">
            <a href="https://discord.gg/WbSuHSjx2m" class="card">
                <div class="card-image">
                    <img src="/images/juicy.png" alt="Juicy Server">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        Juicy Server
                    </div>
                    <div class="card-description">
                        あなたが探している最高のDiscordコミュニティがここにあります！
                    </div>
                </div>
            </a>
            <a href="https://discord.gg/fbKNzXpWS9" class="card">
                <div class="card-image">
                    <img src="/images/budou.png" alt="ぶどう島">
                </div>
                <div class="card-content">
                    <div class="card-title">
                        ぶどう島
                    </div>
                    <div class="card-description">
                        デジタルの話題を中心とした雑談コミュニティ
                    </div>
                </div>
            </a>
        </div>
    </section>
</main>