Privacy policy
<main>
    <h2>プライバシーポリシー(個人情報保護方針)</h2>
    <p>
        renorari.net(以下「本サイト」という)は、ユーザーの個人情報について以下のとおりプライバシーポリシー(以下「本ポリシー」という)を定めます。
        <br>
        本ポリシーは、本サイトがどのような個人情報を取得し、どのように利用・共有するか、ユーザーがどのようにご自身の個人情報を管理できるかをご説明するものです。
        <br>
    <h3>1.事業者情報</h3>
    <p>
        本サイトはれのらり個人が運営するサイトです。
        <br>
        お問い合わせは、<a href="/contact.html">お問い合わせページ</a>からお願いします。
    </p>
    <h3>2.個人情報の取得方法</h3>
    <p>
        本サイトのサービスでユーザーが利用登録をするとき、メールアドレスなど個人を特定できる情報を取得させていただきます。
    </p>
    <h3>3.個人情報の利用目的</h3>
    <p>
        取得した情報は、利用登録の際や重要なお知らせなどがある際に使用されます。
        <br>
        そして、取得した情報は第三者へ提供致しません。
    </p>
    <h3>4.個人データの第三者提供について</h3>
    <p>
        本サイトは、個人データを第三者に提供することは致しません。
    </p>
    <h3>5.保有個人データの開示、訂正</h3>
    <p>
        本サイトは本人から個人情報の開示を求められたときには、遅滞なく本人に対しこれを開示します。個人情報の利用目的の通知や訂正、追加、削除、利用の停止を希望される方は以下の手順でご請求ください。
        <br>
        お問い合わせは、<a href="/contact.html">お問い合わせページ</a>からお願いします。
    </p>
    <h3>6.個人情報取り扱いに関する相談や苦情の連絡先</h3>
    <p>
        本サイトの個人情報の取り扱いに関するご質問やご不明点、苦情、その他のお問い合わせは以下の連絡先よりご連絡ください。
        <br>
        お問い合わせは、<a href="/contact.html">お問い合わせページ</a>からお願いします。
    </p>
    <h3>7.SSL(Secure Socket Layer)について</h3>
    <p>
        本サイトはSSLに対応しており、WebブラウザとWebサーバーとの通信を暗号化しています。
        <br>
        ユーザーが入力するメールアドレスなどの個人情報は自動的に暗号化されます。
    </p>
    <h3>8.cookieについて</h3>
    <p>
        cookieとは、WebサーバーからWebブラウザに送信されるデータのことです。
        <br>
        Webサーバーがcookieを参照することでユーザーのパソコンを識別でき、効率的に本サイトを利用することができます。
        <br>
        本サイトがcookieとして送るファイルは、個人を特定するような情報は含んでおりません。
        <br>
        お使いのWebブラウザの設定により、cookieを無効にすることも可能です。
    </p>
    <h3>9.プライバシーポリシーの制定日及び改定日</h3>
    <p>
        制定: 2022年3月12日
        <!--
            改定: ○○年○月○日
            改定: ○○年○月○日
        -->
    </p>
    <h3>10.免責事項</h3>
    <p>
        免責事項に関して、別記<a href="/disclaimer.html">免責事項</a>にあります。
    </p>
    </p>
</main>