{"title": "test", "ogp_image": "https://renorari.net/images/ogp.png"}
<main>
    <div class="panel">
        <a href="https://discord.gg/WbSuHSjx2m" class="card">
            <div class="card-image">
                <img src="/images/juicy.png" alt="Juicy Server">
            </div>
            <div class="card-content">
                <div class="card-title">
                    Juicy Server
                </div>
                <div class="card-description">
                    あなたが探している最高のDiscordコミュニティがここにあります！
                </div>
            </div>
        </a>
        <a href="https://discord.gg/fbKNzXpWS9" class="card">
            <div class="card-image">
                <img src="/images/budou.png" alt="ぶどう島">
            </div>
            <div class="card-content">
                <div class="card-title">
                    ぶどう島
                </div>
                <div class="card-description">
                    デジタルの話題を中心とした雑談コミュニティ
                </div>
            </div>
        </a>
    </div>
</main>