@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Mono:ital,wght@0,400;0,700;1,400;1,700&display=swap');
@import url("https://koruri.chillout.chat/koruri.css");

:root {
    --background: #ffffff;
    --transparent-background: rgba(255, 255, 255, 0.75);
    --text: #323232;
    --text-light: #a8a8a8;
    --link: #079ca2;
    --selecting: rgba(15, 237, 245, 0.75);
    --button-background: #079ca2;
    --button-transparent: rgba(7, 156, 162, 0.1);
    --button-active: #045f62;
    --button-text: #ffffff;
    --pop-background: #e7fdfe;
    --primary: #079ca2;
    --secondary: #52a207;
    --new: #f50f0f;
    --shadow: rgba(0, 0, 0, 0.1);
    --transparent-red: hsla(355, 92%, 95%, 0.75);
    --transparent-green: hsla(90, 92%, 85%, 0.75);
}

@media (prefers-color-scheme: dark) {
    :root {
        --background: #161616;
        --transparent-background: rgba(22, 22, 22, 0.75);
        --text: #ffffff;
        --text-light: #a8a8a8;
        --link: #0fedf5;
        --selecting: rgba(15, 237, 245, 0.75);
        --button-background: #0fedf5;
        --button-transparent: rgba(15, 237, 245, 0.1);
        --button-active: #0a9ca2;
        --button-text: #323232;
        --pop-background: #022f31;
        --primary: #0fedf5;
        --secondary: #7ef50f;
        --new: #f50f0f;
        --shadow: rgba(0, 0, 0, 0.25);
        --transparent-red: hsla(355, 92%, 10%, 0.75);
        --transparent-green: hsla(90, 92%, 10%, 0.75);
    }
}

* {
    box-sizing: border-box;
    transition: background-color 0.1s ease-in-out, color 0.1s ease-in-out, box-shadow 0.1s ease-in-out, filter 0.1s ease-in-out, color 0.1s ease-in-out;
    overflow-wrap: break-word;
}

*:focus:not(.focus-visible) {
    outline: none;
    box-shadow: none;
    filter: none;
}

*:focus {
    outline: none;
    box-shadow: 0 0 0 3px var(--selecting);
    filter: drop-shadow(0 0 0.5em var(--selecting));
}

body {
    background-color: var(--background);
    color: var(--text);
    font-family: "Koruri", sans-serif;
    font-weight: 400;
    line-height: 1.75;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    display: flex;
    flex-direction: column;
    transition: none;
}

a {
    color: var(--link);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

img {
    display: block;
    margin: 0;
    padding: 0;
    user-select: none;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: var(--text);
    font-weight: 600;
    line-height: 1.5;
    margin: 0.5em 0;
}

h1::before,
h2::before,
h3::before,
h4::before,
h5::before,
h6::before {
    content: "#";
    color: var(--text-light);
    margin: auto 0.25em;
}

p {
    margin: 0 0 1em 0;
}

img {
    max-width: 100%;
    border-radius: 0.5em;
}

table {
    border-collapse: separate;
    border-spacing: 0;
    margin: 0;
    padding: 0;
    width: 100%;
}

table td,
table th {
    border: 1px solid var(--button-transparent);
    padding: 0.5em 1em;
}

table th {
    background-color: var(--button-transparent);
    font-weight: 600;
    text-align: left;
}

table tr:first-child th:first-child {
    border-top-left-radius: 0.5em;
}

table tr:first-child td:last-child {
    border-top-right-radius: 0.5em;
}

table tr:last-child th:first-child {
    border-bottom-left-radius: 0.5em;
}

table tr:last-child td:last-child {
    border-bottom-right-radius: 0.5em;
}

button, .button {
    background-color: var(--button-transparent);
    border: 1px solid var(--button-background);
    border-radius: 0.5em;
    color: var(--text);
    cursor: pointer;
    font-family: "Koruri", sans-serif;
    font-size: 1em;
    font-weight: 600;
    line-height: 1;
    width: 100%;
    margin: 0.5em 0;
    padding: 0.5em 1em;
    text-align: center;
    text-decoration: none;
}

button:hover,
button:focus,
.button:hover,
.button:focus {
    background-color: var(--button-background);
    color: var(--button-text);
    text-decoration: none;
}

button:active,
.button:active {
    background-color: var(--button-active);
    color: var(--button-text);
    text-decoration: none;
}

button:disabled,
.button:disabled,
.button.disabled {
    background-color: var(--button-transparent);
    border-color: var(--button-transparent);
    color: var(--text-light);
    cursor: not-allowed;
    text-decoration: none;
}

label {
    display: block;
    margin: 0;
    padding: 0;
    margin-top: 0.5em;
}

input[type="text"],
input[type="password"],
input[type="email"] {
    background-color: var(--transparent-background);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid var(--button-background);
    border-radius: 0.5em;
    color: var(--text);
    font-family: "Koruri", sans-serif;
    font-size: 1em;
    line-height: 1;
    width: 100%;
    margin: 0.5em 0;
    margin-top: 0;
    padding: 0.25em 0.5em;
}

input[type="text"]:hover,
input[type="text"]:focus,
input[type="password"]:hover,
input[type="password"]:focus,
input[type="email"]:hover,
input[type="email"]:focus {
    background-color: var(--button-transparent);
    border-color: var(--button-background);
}

input[type="text"]:disabled,
input[type="password"]:disabled,
input[type="email"]:disabled {
    background-color: var(--button-transparent);
    border-color: var(--button-transparent);
    color: var(--text-light);
    cursor: not-allowed;
}

select {
    background-color: var(--transparent-background);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid var(--button-background);
    border-radius: 0.5em;
    color: var(--text);
    font-family: "Koruri", sans-serif;
    font-size: 1em;
    line-height: 1;
    width: 100%;
    margin: 0.5em 0;
    padding: 0.25em 0.5em;
}

select:hover,
select:focus {
    background-color: var(--button-transparent);
    border-color: var(--button-background);
}

select:disabled {
    background-color: var(--button-transparent);
    border-color: var(--button-transparent);
    color: var(--text-light);
    cursor: not-allowed;
}

input[type="color"] {
    background-color: var(--transparent-background);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid var(--button-background);
    border-radius: 0.5em;
    color: var(--text);
    width: 100%;
    height: 3em;
    margin: 0.5em 0;
    margin-top: 0;
    padding: 0.25em;
}

input[type="color"]:hover,
input[type="color"]:focus {
    background-color: var(--button-transparent);
    border-color: var(--button-background);
}

input[type="color"]:disabled {
    background-color: var(--button-transparent);
    border-color: var(--button-transparent);
    color: var(--text-light);
    cursor: not-allowed;
}

input[type="number"] {
    background-color: var(--transparent-background);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border: 1px solid var(--button-background);
    border-radius: 0.5em;
    color: var(--text);
    font-family: "Koruri", sans-serif;
    font-size: 1em;
    line-height: 1;
    width: 100%;
    margin: 0.5em 0;
    margin-top: 0;
    padding: 0.25em 0.5em;
}

header {
    background-color: var(--transparent-background);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    /*box-shadow: 0 0 0.5em var(--shadow);*/
    padding: 0.5em 1em;
    margin: 0;
    margin-top: 1px;
    margin-bottom: 1em;
    position: sticky;
    position: -webkit-sticky;
    top: 0;
    z-index: 100;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
}

header h1 {
    font-size: 2em;
    font-weight: 600;
    margin: 0;
    margin-left: 1em;
    flex-grow: 1;
}

header h1::before {
    content: "";
    margin: 0;
}

header h1 a {
    color: var(--text);
}

header h1 #header-title::before {
    content: " - ";
    color: var(--text-light);
}

@media screen and (max-width: 480px) {
    header {
        text-align: center;
        flex-direction: column;
    }

    header h1 {
        font-size: 1.5em;
    }

    header h1 #header-title::before {
        white-space: pre;
        content: "\A";
    }
}

.hover {
    box-shadow: 0 0 0.5em var(--shadow);
}

nav {
    padding: 0.5em 1em;
    padding-top: 1em;
    margin: 0;
    flex-grow: 1;
}

nav ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
}

nav ul li {
    margin: 0;
}

nav ul li a {
    color: var(--text);
    font-weight: 600;
    font-size: 1em;
    padding: 0.5em 1em;
}

@media screen and (max-width: 480px) {
    nav {
        padding: 0;
        padding-top: 0.5em;
    }

    nav ul li a {
        font-size: 1em;
        font-weight: 500;
    }

}

main {
    flex-grow: 1;
    padding: 0.5em 1em;
    margin: 0 auto;
    width: 100%;
    max-width: 60em;
}

blockquote {
    border-left: 0.25em solid var(--text-light);
    padding-left: 0.5em;
}

hr {
    border: 0;
    border-top: .1em solid var(--text-light);
    margin: 1em 0;
}

footer {
    background-color: var(--pop-background);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    padding: 1.5em 1em;
    padding-right: 0;
    margin: 0;
    margin-top: 1em;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-around;
    align-items: center;
}

footer #copyright {
    color: var(--text);
    margin: 0;
    padding: 0;
    text-align: center;
    flex-grow: 1;
}

footer #copyright a {
    color: var(--text);
}

footer #socials {
    margin: 1em;
    padding: 0;
}

footer #socials ul {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    list-style: none;
    margin: 0;
    padding: 0;
}

footer #socials ul li {
    margin: 0.5em;
    border: 1px solid var(--button-transparent);
    border-radius: 100vw;
    width: 2.5em;
    height: 2.5em;
}

footer #socials ul li a {
    width: 100%;
    height: 100%;
    border-radius: 100vw;
    display: flex;
    justify-content: center;
}

footer #socials ul li a img {
    width: 67%;
    height: 67%;
    margin: auto;
    filter: brightness(0);
}

@media (prefers-color-scheme: dark) {
    footer #socials ul li a img {
        filter: brightness(1);
    }
}

footer #socials ul li:hover,
footer #socials ul li:focus {
    background-color: var(--button-transparent);
}

footer #links {
    margin: 0;
    padding: 0;
    flex-grow: 1;
}

footer #links ul {
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
    justify-content: space-around;
    list-style: none;
    margin: 0;
    padding: 0;
    width: 100%;
}

footer #links ul li {
    border: 1px solid var(--button-transparent);
    border-radius: 100vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    width: 100%;
}

footer #links ul li:hover,
footer #links ul li:focus {
    background-color: var(--button-transparent);
}

footer #links ul li a {
    display: block;
    border-radius: 100vw;
    border-top-right-radius: 0;
    border-bottom-right-radius: 0;
    color: var(--text);
    padding: 0.5em 1em;
    width: 100%;
}

footer #links ul li a:hover {
    text-decoration: none;
}

.additional {
    font-size: 0.75em;
    color: var(--text-light);
}

.panel {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
    margin: 0;
    padding: 0;
}

.card {
    background-color: var(--transparent-background);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--shadow);
    margin: 0.5em;
    margin-bottom: 2em;
    padding: 0;
    width: 100%;
    max-width: 40%;
    min-width: 20em;
    color: var(--text);
}

@media screen and (max-width: 480px) {
    .card {
        width: 100%;
        min-width: 100%;
    }

}

.card:hover,
.card:focus {
    box-shadow: 0 0 1em var(--shadow);
    text-decoration: none;
}

.card .card-image {
    border-radius: 0;
    border-top-left-radius: 0.5em;
    border-top-right-radius: 0.5em;
    overflow: hidden;
    width: 100%;
}

.card .card-image img {
    border-radius: 0;
    width: 100%;
    aspect-ratio: 2 / 1;
    object-fit: cover;
}

.card .card-content {
    padding: 1em;
}

.card .card-content .card-title {
    font-size: 1.5em;
    font-weight: 600;
    margin: 0;
}

.card .card-content .card-description {
    margin: 0;
    padding: 0;
}

.new::before {
    content: "New!";
    display: inline-block;
    background-color: var(--new);
    color: #fff;
    font-size: 0.5em;
    font-weight: 600;
    padding: 0.125em 0.25em;
    border-radius: 0.5em;
    margin-right: 0.5em;
    vertical-align: middle;
}

/*#loading {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    background-color: var(--transparent-background);
    z-index: 1000;
    display: flex;
    justify-content: center;
    align-items: center;
    transition: opacity 0.5s ease-in-out;
}

#loading #loading-animation {
    width: 5em;
    height: 5em;
    border-radius: 100%;
    border: 0.5em solid var(--button-background);
    animation: border 1s infinite linear, spin 1s infinite ease-in-out;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }

    100% {
        transform: rotate(360deg);
    }
}

@keyframes border {
    0% {
        border-top-color: var(--button-transparent);
        border-right-color: var(--button-background);
        border-bottom-color: var(--button-background);
        border-left-color: var(--button-background);
    }

    25% {
        border-top-color: var(--button-background);
        border-right-color: var(--button-transparent);
        border-bottom-color: var(--button-background);
        border-left-color: var(--button-background);
    }

    50% {
        border-top-color: var(--button-background);
        border-right-color: var(--button-background);
        border-bottom-color: var(--button-transparent);
        border-left-color: var(--button-background);
    }

    75% {
        border-top-color: var(--button-background);
        border-right-color: var(--button-background);
        border-bottom-color: var(--button-background);
        border-left-color: var(--button-transparent);
    }

    100% {
        border-top-color: var(--button-transparent);
        border-right-color: var(--button-background);
        border-bottom-color: var(--button-background);
        border-left-color: var(--button-background);
    }
}*/

canvas {
    max-width: 100%;
    max-height: 100%;
    border-radius: 0.25em;
}

.okng {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-evenly;
    align-items: stretch;
}

.okng div {
    background-color: var(--transparent-background);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--shadow);
    margin: 0.5em;
    margin-bottom: 2em;
    padding: 1em;
    flex: 1 1 20em;
    max-width: 30em;
    min-width: 20em;
    color: var(--text);
}

.okng .ok {
    background: linear-gradient(var(--transparent-green) 0%, var(--transparent-background) 25%);
}

.okng .ng {
    background: linear-gradient(var(--transparent-red) 0%, var(--transparent-background) 25%);
}

.okng div h4 {
    font-size: 1.2em;
}

.okng div h4::before {
    display: none;
}

.example div {
    background-color: var(--transparent-background);
    backdrop-filter: blur(16px);
    -webkit-backdrop-filter: blur(16px);
    border-radius: 0.5em;
    box-shadow: 0 0 0.5em var(--shadow);
    margin: 0.5em;
    margin-bottom: 1em;
    padding: 1em;
    color: var(--text);
}

.example div:last-child {
    margin-bottom: 2em;
}

code {
    font-family: 'Ubuntu Mono', monospace;
    border-radius: 0.5em;
}

.material-symbols-rounded {
    user-select: none;
}

.page {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
    margin: 0;
    padding: 0;
}

.page-button {
    display: flex;
    justify-content: center;
    text-align: center;
    border-radius: 100vw;
    width: 2em;
    margin: 0.5em;
}

.page-button.next,
.page-button.back {
    width: auto;
}