/* Renorari.net Style Fonts */

@font-face {
    font-family: "Koruri";
    src: url("/fonts/Koruri-Regular.woff2") format("woff2"),
        url("/fonts/Koruri-Regular.woff") format("woff"),
        url("/fonts/Koruri-Regular.eot") format("embedded-opentype"),
        url("/fonts/Koruri-Regular.ttf") format("truetype");
    font-style: normal;
    font-weight: 400;
    font-display: swap;
}

@font-face {
    font-family: "Koruri";
    src: url("/fonts/Koruri-Light.woff2") format("woff2"),
        url("/fonts/Koruri-Light.woff") format("woff"),
        url("/fonts/Koruri-Light.eot") format("embedded-opentype"),
        url("/fonts/Koruri-Light.ttf") format("truetype");
    font-style: normal;
    font-weight: 300;
    font-display: swap;
}

@font-face {
    font-family: "Koruri";
    src: url("/fonts/Koruri-Semibold.woff2") format("woff2"),
        url("/fonts/Koruri-Semibold.woff") format("woff"),
        url("/fonts/Koruri-Semibold.eot") format("embedded-opentype"),
        url("/fonts/Koruri-Semibold.ttf") format("truetype");
    font-style: normal;
    font-weight: 500;
    font-display: swap;
}

@font-face {
    font-family: "Koruri";
    src: url("/fonts/Koruri-Bold.woff2") format("woff2"),
        url("/fonts/Koruri-Bold.woff") format("woff"),
        url("/fonts/Koruri-Bold.eot") format("embedded-opentype"),
        url("/fonts/Koruri-Bold.ttf") format("truetype");
    font-style: normal;
    font-weight: 700;
    font-display: swap;
}

@font-face {
    font-family: "Koruri";
    src: url("/fonts/Koruri-Extrabold.woff2") format("woff2"),
        url("/fonts/Koruri-Extrabold.woff") format("woff"),
        url("/fonts/Koruri-Extrabold.eot") format("embedded-opentype"),
        url("/fonts/Koruri-Extrabold.ttf") format("truetype");
    font-style: normal;
    font-weight: 800;
    font-display: swap;
}
