@import url("./fonts.css");
@import url("./colors.css");

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    transition-duration: 0.25s;
    transition-property: background, color, fill, box-shadow, transform, filter;
}

body {
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    background: var(--c-background);
    font-family: "Koruri", sans-serif;
    color: var(--c-text);
}

h1,
h2,
h3,
h4,
h5,
h6 {
    font-weight: normal;
}

h1 {
    font-size: 2rem;
}

h2 {
    font-size: 1.5rem;
}

h3 {
    font-size: 1.25rem;
}

h4,
h5,
h6,
p {
    margin: 0.5rem 0;
    font-size: 1rem;
}

a {
    color: var(--c-primary);
    text-decoration: none;
}

a:hover {
    text-decoration: underline;
}

main {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    flex: 1;
    width: 100%;
    max-width: 64rem;
    margin: 0 auto;
    padding: 1rem;
}