{"title": "UST Inst配布 Голубой вагон(青い列車 日本語バージョン)", "ogp_image": "https://renorari.net/images/ogp.png"}
<main>
    <section>
        <h2>
            Голубой вагон(青い列車 日本語バージョン)
        </h2>
        <div>
            このページでは、Голубой вагон(青い列車 日本語バージョン)のUST Instを配布しています。
            <br>
            このUST Instは、<a href="/licenses/ust/1.html" target="_blank" rel="noopener noreferrer">UST素材配布利用規約 第1版</a>が適用されます。
            <br>
            必ずご確認ください。
        </div>
        <div id="downloads">
            <button id="button">利用規約を開く</button>
            <script>
                document.getElementById("button").addEventListener("click", () => {
                    window.open("/licenses/ust/1.html", "_blank");
                    if (document.getElementById("download")) {
                        return;
                    }
                    const downLoadButton = document.createElement("button");
                    downLoadButton.id = "download";
                    downLoadButton.innerText = "利用規約に同意してダウンロード";
                    downLoadButton.addEventListener("click", () => {
                        window.open("https://www.mediafire.com/file/7hvh065g0bppkz4/goluboi-bagon-jpn.zip/file", "_blank");
                    });
                    document.getElementById("downloads").appendChild(downLoadButton);
                });
            </script>
        </div>
    </section>
</main>