{"title": "動画素材配布利用規約 第1版", "ogp_image": "https://renorari.net/images/ogp.png"}
<main>
    <section>
        <div>
            <h2>
                動画素材配布利用規約 第1版
            </h2>
            <p>
                れのらりによって配布されている動画素材は、以下の規約範囲内であれば個人･法人･商用･非商用を問わず無料でご利用いただけます。
                <br>
                事前のご連絡やクレジット表記はNGな例を除いて不要ですが、ご連絡やクレジット表記をしていただけた場合は、全力で応援します!
                <br>
                お気軽にご利用ください。
            </p>
            <h3>
                利用範囲
            </h3>
            <div class="okng">
                <div class="ok">
                    <h4>OKな例</h4>
                    <ul>
                        <li>
                            改変を行い、動画素材を使用した動画を動画配信プラットフォームに投稿する
                            <br>
                            <span class="additional">(動画配信プラットフォーム収益化をする場合は、全力で応援しますのでご連絡ください)</span>
                        </li>
                        <li>
                            ゲームやアプリケーション、ソフトウエア等に動画素材を使用する
                            <br>
                            <span class="additional">(まとめや二次配布サイトでの配布もNGな例を除いて可能です)</span>
                        </li>
                        <li>
                            ウェブサイトやブログに動画素材を埋め込む
                            <br>
                            <span class="additional">(動画にリンクを貼ることも自由です)</span>
                        </li>
                        <li>
                            動画素材を教育用途で使用する
                            <br>
                            <span class="additional">(学校や教育機関、オンラインコースなどでの利用を歓迎します)</span>
                        </li>
                    </ul>
                </div>
                <div class="ng">
                    <h4>NGな例</h4>
                    <ul>
                        <li>
                            公序良俗に反する動画等を作成する
                            <br>
                            <span class="additional">
                                (性的な表現や暴力的な表現、差別的な表現、過度な暴力表現、過度なグロテスク表現、過度な恐怖表現、過度な不快表現、過度な不条理表現、過度な猟奇表現、過度な残虐表現、過度な下品表現、過度な不道徳表現、過度な不安表現、過度な不気味表現、過度な不穏表現等)
                            </span>
                        </li>
                        <li>
                            動画素材を販売する / 著作権を譲渡する制作物への利用 / 素材を利用し商標登録する
                            <br>
                            <span class="additional">
                                (動画素材を使用した動画を動画配信プラットフォームで収益化することは可能ですが、動画素材そのものを販売することはできません)
                            </span>
                        </li>
                        <li>
                            動画素材をクレジット表記なしで再配布する
                            <br>
                            <span class="additional">
                                (クレジット表記がある場合は、再配布可能です)
                            </span>
                        </li>
                        <li>
                            損害や不利益を与える動画や信用や名誉を損なう動画等を作成する
                            <br>
                            <span class="additional">
                                (動画素材を使用した動画を作成する際には、第三者の権利を侵害しないようにご注意ください)
                            </span>
                        </li>
                    </ul>
                </div>
            </div>
            <h3>
                クレジット表記について
            </h3>
            <div>
                クレジット表記は任意ですが、ご連絡やクレジット表記をしていただけた場合は、全力で応援します!
                <br>
                以下のようなクレジット表記をしていただけると嬉しいです。
                <div class="example">
                    <div>
                        れのらり( https://renorari.net/ )の動画素材( https://youtube.com/watch?v=XXXXXXXXXXX )を使用しました。
                    </div>
                    <div>
                        動画素材: https://youtube.com/watch?v=XXXXXXXXXXX (れのらりによる配布)
                    </div>
                    <div>
                        れのらり( https://renorari.net/ )の動画素材( https://youtube.com/watch?v=XXXXXXXXXXX )を使用しました。
                        <br>
                        自由に使える動画素材を配布しているので、ぜひご利用ください。
                    </div>
                </div>
            </div>
            <h3>
                よくある質問
            </h3>
            <p>
                申し訳ありませんが、質問はまだありませんので、掲載されていません。
                <br>
                質問がある場合はお気軽に、<a href="/contact.html">お問い合わせページ</a>にてご連絡ください。
            </p>
            <h3>
                著作権について
            </h3>
            <p>
                編集や加工の有無にかかわらず、すべての著作権は「れのらり」が所有します。
                <br>
                クライアントワークやクラウドソーシング等で著作権の譲渡が必要になる場合は、ご利用いただけません。
            </p>
            <h3>
                免責事項
            </h3>
            <p>
                素材のダウンロードや利用、編集、加工によって生じた問題につきましては、一切責任を負いかねます。
                <br>
                また、制作した素材は予告なく変更･削除する場合があります。
                <br>
                あらかじめご了承ください。
            </p>
            <p>
                その他の免責事項につきましては、<a href="/disclaimer.html">本サイトの免責事項</a>をご確認ください。
            </p>
        </div>
    </section>
</main>
