header.fullscreen {
    background: url("/images/header2.jpg");
    background-size: cover;
    background-position: center;
    height: 100vh;
    display: flex;
    align-items: center;
    color: var(--c-primary-text);
    text-align: center;
    font-size: 2rem;
    text-shadow: 0 0.354rem 2rem var(--c-shadow);
}

header.fullscreen div {
    margin: auto 10%;
    text-shadow: 0 0.25rem 1rem rgba(0, 0, 0, 0.1);
}

header.fullscreen div h1 {
    display: flex;
    gap: 1rem;
    align-items: center;
}

header.fullscreen div h1 img {
    max-width: 100%;
    height: auto;
    filter: invert(1);
}
