nav {
    backdrop-filter: blur(10rem);
    -webkit-backdrop-filter: blur(10rem);
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    position: sticky;
    z-index: 10;
    top: 0;
    padding: 1rem;
}

@media screen and (max-height: 50rem) {
    nav {
        position: initial;
        backdrop-filter: none;
        -webkit-backdrop-filter: none;
    }
}

nav>h1,
nav>h1>a {
    display: contents;
}

nav>h1>a>img {
    filter: var(--f-black-image);
    width: auto;
    height: 2rem;
}

nav>ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

nav>ul>li>a {
    color: var(--c-text);
    text-decoration: none;
}

nav>ul>li>a:hover {
    color: var(--c-primary-color);
    text-decoration: underline;
}

body:has(nav:nth-of-type(2)) nav:nth-of-type(1) {
    display: none;
}