nav {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
    background: var(--c-background);
}

nav>h1>img {
    width: auto;
    height: 1.5rem;
}

@media screen and (prefers-color-scheme: dark) {
    nav>h1>img {
        filter: invert(1);
    }
}

nav>ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

nav>ul>li>a {
    color: var(--c-text);
    text-decoration: none;
}

nav>ul>li>a:hover {
    color: var(--c-primary);
    text-decoration: underline;
}