nav {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    align-items: center;
    padding: 1rem;
}

nav>h1>img {
    width: auto;
    height: 2rem;
    filter: var(--f-black-image);
}

nav>ul {
    display: flex;
    gap: 1rem;
    list-style-type: none;
}

nav>ul>li>a {
    color: var(--c-text);
    text-decoration: none;
}

nav>ul>li>a:hover {
    color: var(--c-primary);
    text-decoration: underline;
}