.result-container {
    display: flex;
    justify-content: center;
    align-items: center;
    max-width: 50%;
    margin: 1em auto;
    background-color: var(--c-primary-thin);
    border: 1px solid var(--c-primary);
    border-radius: 0.25em;
    font-size: 1.5em;
    font-weight: bold;
    color: var(--c-primary-text);
    text-align: center;
}

.result-container.error {
    background-color: var(--c-quaternary-thin);
    border-color: var(--c-quaternary);
    color: var(--c-quaternary-text);
}

@media screen and (max-width: 30rem) {
    .result-container {
        max-width: 100%;
    }
}